.main{
    background: #DAE0E6;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px ;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    justify-content: center;
    }
body{
    margin: 0;
}
.first_column{
    width: 640px;
}
.create{
    margin-bottom: 16px;
    display: flex;
    width: 640px;
    background: #ffffff;
    border: 1px #cccccc solid;
    border-radius: 4px;
    align-items: center;
    
}
#trend.create{
    height: 61px;
} 
.avatar_circle{
    display: flex;
    aspect-ratio: 1;
    width: 38px;
    border: 1px #cccccc solid;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 8px;
    background-image: url(imagines/fox-body.svg);
    background-size: cover; 
    background-position: center;
}
.avatar_circle:hover{
    cursor: pointer;
}
.avatar{
    width: 39px;
}
.search{
    padding-left: 15px;
    width: 500px;
    height: 33px;
    border: 1px #EDEFF1 solid;
    border-radius: 6px;
    background: #F6F7F8;
    margin-right: 6px;
}
input:focus{
    outline: none;
}
.search:hover {
    border-color: #2f5ef9;
    background: #ffffff;
  }
.icons{
    display: flex;
    gap: 8px;
}
.imagine{
    background-color: #ffffff;
    font-size: 27px;
    color: #878A8C;
    padding: 6px;
}
#link.imagine{
    margin-right: 10px;
}
.imagine:hover{
    border-radius: 10px;
    cursor: pointer;
    background: #e4e4e4;
}
.imagine_button{
    background: #ffffff;
    border: 0px;
    padding: 0;
}
.button_main{
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 0px;
    cursor: pointer;
    border-radius: 17px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 8px;
}
.button_main:hover{
    background: #e4e4e4;
}
.b_s_image{
    display: flex;
    color: #969696;
    margin-right: 6px;
}
.button_main:hover .b_s_image,
.button_main:hover .b_s_image:hover{
    color: #0079d3;
}
.b_s_text{
    color: #969696;
    font-size: 15px;
    font-weight:600 ;
}
.button_main:hover .b_s_text,
.button_main:hover .b_s_text:hover{
    color: #0079d3;
}
.dotdotdot{
    display: flex;
    justify-items: center;
    align-items: center;
    background: #ffffff;
    border: 0px;
    cursor: pointer;
    border-radius: 100%;
    aspect-ratio: 1;
}
.dotdotdot:hover{
    background: #e4e4e4;
}
.doot{
    color: #878A8C;
    font-size: 20px;
}
.view_dot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    padding: 6px;
    border-radius: 15px;
    margin-right: 6px;
}
.view_dot:hover{
    background: #e4e4e4;
}
.view{
    color: #878A8C;
    font-size: 20px;
}