.navbar {
  background-color: #ffffff; 
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 49px;
}
.nav_box{
  height: auto;
  width: 100%;
  display:flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.panda{
  width: 120px;
  height: auto;
}
.nav_title{
  margin-left: 10px;
  color: orangered;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif
}
.nav_home{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 260px;
  border:1px #ffffff solid;
  background: #ffffff;
  padding-left:0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  position: relative;
}
.nav_home.show-border {
  border: 7px solid #2f5ef9; 
  border-radius: 4px; 
}
.nav_menu{
  position: relative;
}
.nav_home:hover{
  border:1px #ebebeb solid;
  border-radius: 4px;
}
.nav_menu_box{
  background: #fff;
  position: absolute;
  width: 260px;
  margin-left: 15px;
  border: 1px solid #ebebeb;
  border-top-color: #ffffff;
  padding-bottom: 16px;
  overflow: auto;
  max-height: 470px;
}
.nav_community_title{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color:#878a8c ;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 8px;
}
.nav_community_search{
  padding-left:5px;
  height: 30px;
  width: 204px;
  border: 1px #EDEFF1 solid;
  background: #F6F7F8;
  font-size: 15px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.nav_house{
  font-size: 22px;
  margin-left: 8px;
  margin-right: 10px;
  color: #1e1e1e;
}
.nav_arrow{
  margin-left: auto;
  padding-left:0px;
  font-size: 14px;
  color: #6e6e6e;
}
.nav_hom_menu{
  display: flex;
  align-items: center;
  justify-content: start;
}
.nav_search{
  padding-left:5px;
  width: 100%;
  height: 40px;
  border: 1px #EDEFF1 solid;
  border-radius: 40px;
  background: #F6F7F8;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.nav_search:hover{
  border-color: #2f5ef9;
  background: #ffffff;
}
.lupa{
  padding: 4px;
  font-size: 25px;
  color: #808080;
}
.nav_input{
  border: 0px;
  background: #f6f7f800;
  font-size: 14px;
}
.nav_icons_bar{
  display: flex;
  align-items: center;
}
.nav_icons{
  padding: 6px;
  border-radius: 4px;
  color: #3c3c3c;
  font-size: 21px;
  margin: 6px;
  display: flex;
}
.nav_icons:hover{
  background: #edeff1;
}
#ano.nav_icons{
  padding: 0px;
  margin: 0px;
}
#ano.nav_icons:hover{
  background: #d2d2d2;
}
.ano_box{
  display: flex;
  background:#EDEFF1;
  border-radius: 30PX;
  width: 21px;
  height: 21px;
  padding: 8px;
  margin-left: 2px;
}
.ano_box:hover{
  background: #d2d2d2;
}
.nav_avatar_box{
  width: 400px;
  display: flex;
  margin-left: 20px;
  padding: 4px;
  border: #ffffff 1px solid;
  border-radius: 3px;
}
.nav_avatar_box:hover{
 border: #d2d2d2 1px solid;
}
.nav_small_avata_box{
  display: flex;
  align-items: center;
}
.nav_avatar_arrow{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav_avatar{
  margin: 0px;
  border: 1px #bdbdbd solid;
  border-radius: 6px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  background-image: url(./imagines/fox-body.svg);
  background-size: cover; 
  background-position: center;
}

.nav_username{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-bottom: 6px;
}

.nav_karma{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
display: flex;
justify-content: center;
color: #a8aaab;
} 
.nav_letters{
  margin-left: 6px;
}
.nav_flower{
  color:#ff4500 ;
}
