.post{
    margin: 20px;
    display: flex;
    width: 640px;
    height: 400px;
    background: #ffffff;
    border: 1px #cccccc solid;
    border-radius: 3px;
    justify-content: start;
    overflow: hidden;
}
.column_1{
    display: flex;
    flex-direction: column;
    width: 40px;
    background: #f8f9fa;
    align-items: center;
}
.arrow{
    display: flex;
    font-size: 25px;
    color: #646464;
}

.arrows_counter{
    margin-top: 10px;
    align-items: center;
    
}
.counter{
    text-align: center;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #797979;
    font-weight: bold;
}
.column_2{
    display: flex;
    width: 100%;
    background: #ffffff;
}
.title{
    display: flex;
    margin: 10px;
    height: 20px;
    width: auto;
    align-items: center;
}
.ravatar{
    aspect-ratio: 1;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 100%;
}
.rplace{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
}
.kropa{
    margin-left: 5px;
    margin-right: 5px;
    color: #646464;
    font-size: small;
}
.user_post{
    color: #787C7E;
    font-size: 15px;
}
.time_post{
    margin-left: 3px;
    color: #787C7E;
    font-size: 15px;
}