.box_recent{
    margin-bottom: 16px;
    display: flex;
    width: 290px;
    background: #ffffff;
    border: 1px #cccccc solid;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.title_recent{
    font: 1em sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #1a1a1b;
}
.line_recent{
    height: 0.5px;
    background: #1A1A1B12;
    margin-top: 2;
    margin-bottom: 2px;
}
.recent_clear{
    color: #878a8c;
    font: 1em sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: end;
    margin-top: -10px;
    cursor: pointer;
}